section {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 20px;
  padding: 20px;
  margin-bottom: 100px;
  width: 100%;
  border: 2px solid #b4a078;
  border-radius: 8px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
}

#carrossel-content {
  display: flex;
  flex-direction: row;
  gap: 25px;
  flex: 1;
}

img {
  width: 200px;
  min-width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  border: 4px solid #b4a078;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  align-self: center;
}

article {
  flex: 1;
  font-size: 1.05rem;
  line-height: 1.6;
  text-align: justify;
  color: #1e293b;
  max-height: 200px;
  overflow-y: auto;
  padding-right: 15px;
}

article::-webkit-scrollbar {
  width: 6px;
}
article::-webkit-scrollbar-thumb {
  background-color: #b4a078;
  border-radius: 4px;
}

@media (max-width: 900px) {
  section {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  #carrossel-content {
    flex-direction: column;
    align-items: center;
    order: -1;
    flex: 0 0 100%;
  }

  article {
    padding-right: 0;
    max-height: none;
    overflow-y: visible;
  }
}
